# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Replace the placeholders with GitHub usernames or team names.

# Default owners for everything
* @evaisd
* @srecanatesi
